.bn__wrapper {
    background-color: var(--orage);
}

.bn__inner {
    display: flex;
    max-width: 1100px;
    justify-content: space-between;
    margin: auto;
    height: 100%;
    align-items: center;
    padding: 30px 0;
}

.bn__inner > :first-child {
    color: var(--white);
    font-weight: 400;
    font-size: 2rem;
}

.bn__btn {
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
    font-weight: 500;
    font-family: var(--font-osaw);
    letter-spacing: 2px;
    transition: background-color 0.3s ease;
}

.bn__btn:hover {
    background-color: var(--white);
    color: var(--black);
}
