.o__wrapper {
    background-color: #121217;
    position: relative;
    padding-bottom: 40px;
}

.grid {
    margin: auto;
}

@media (max-width: 768px) {
    .o__wrapper {
        padding-left: 12px;
        padding-right: 12px;
    }
}
