.layout__wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    display: flex;
}

.layout__inner {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.layout__inner-container {
    width: 40%;
    height: 400px;
    z-index: 8;
    margin: auto;
    position: relative;
}

.layout__inner-container > img {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
}

iframe {
    margin: auto;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

@media (max-width: 768px) {
    .layout__inner {
        top: 30%;
    }

    .layout__inner-container {
        width: 60%;
        height: 300px;
    }
}
