.details__img {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.details__img > img {
    width: 100%;
    transform: scale(1.3);
    position: absolute;
    top: -20%;
    left: -14%;
}

.details__i4 {
    background-color: var(--bg-color);
    padding: 10rem 0;
}
